@charset "utf-8";
/* CSS Document */
body
{
	background:url(../Image/AdminBackground.jpg);
}
.TableChinh
{
	margin:10px auto;
	background-color: #F7F7F7;
}
.tableMoi input[type=submit] 
{
  	width: 100%;
  	display: block;
  	position: relative;
  	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	height: 36px;
	padding: 0 8px;
	border: 0px;
	color: #fff;
	background-color: #4d90fe;
}
.tableMoi input[type=submit]:hover 
{
  border: 0px;
  background-color: #357ae8;
}
.tableMoi input[type=text]
{
  	height: 20px;
  	font-size: 16px;
  	margin-bottom: 10px;
  	background: #fff;
  	border: 1px solid #d9d9d9;
  	border-top: 1px solid #c0c0c0;
  	padding: 0 8px;
}
.tableMoi input[type=text]:hover
{
  	border: 1px solid #b9b9b9;
  	border-top: 1px solid #a0a0a0;
}
a
{
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: block;
}
a:hover 
{
	color:#006;
}
